body html {
    max-width:100%;
    height: auto;
    margin: 0px;   
}

body {
    
    max-width: 100%;
    margin:auto;
    background: url(https://www.wallpaperup.com/uploads/wallpapers/2014/03/17/300960/0283057f608709cd4d2a6f423b2b37fe.jpg);    
}

header {
    width: auto;
    background-color: #ebebeb;
    height: 75px;
    margin: 0px;     
}

#container {
    max-width: 650px;
    margin: auto;
}

#container h1 {
    margin: 0;
    display: inline;
    background: #217DB1;
    padding: 19.5px;
    position: absolute;
    font-family: Arial, Helvetica, sans-serif;
    color: #ebebeb;
}

#container h1:hover {
    color: black;
}

nav {
    float: right;  
}

li a{
    text-decoration: none;
    color: #AEAEAE;
}

li a:hover {
    color:#5E5E5E ;
}

nav ul {
    padding: 0;
    list-style: none;
    float: right;   
}

nav li  {
    display: inline-block;
    margin-left: 10px;
    margin-right: 0px;
    padding-top: 22px;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;   
}

nav a::before {
    content: '';
    display: block;
    height: 5px;
    position: absolute;
    top: 0;
    width: 0%;
    transition: all ease-in-out 250ms;
}

nav a:hover::before {
    width: 100%;
}

hr {
    width: 93%
}

form {
    
    font-size: 18px;
    color: #777;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 20px;  
}

#message input {
    width:93%;
    height: 150px;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;   
}

#message textarea {
    
    width:93%;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: -5px;
    height: 150px;
}

#email input {
    width:93%;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

#name input {
    width:93%;
    margin-left: 20px;
    margin-top: 5px;
    margin-bottom: 15px;
}

input{
    width: 97%;
}

#submit input {
    
    width: 20%;
    background: #217DB1;
    color: #ebebeb;
    padding: 15px 30px;
    font-family: Arial, Helvetica, sans-serif;
}

#submit input:hover {
    background-color:#0B6192;
}

footer {
    position: fixed;
    left:0px;
    bottom: 0px;
    width: 100%;
    background-color: #666666;
    text-align: center;
    height: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
}

.blue_box {
    position: fixed;
    left:0px;
    bottom: 40px;
    height: 5px;
    width: 100%;
    background-color: #217DB1;
    margin-top: 49px;   
}

#contact{
    background: #ebebeb;
    max-width: 650px;
    margin: 20px auto;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    text-indent: 20px;
    padding-top:15px;
    color: #217DB1;
    height: 535px;
    z-index:-1;
}

.imgcont {
    font-size: 14px;
    color: black;
    position: absolute;
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
}

.pic_1 {
   float:left;
   margin-left: 20px;
   
}

.pic_1:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.pic_2 {
    float: right;   
}

.pic_2:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.pic_3 {
    clear:both;
    float:left;
    margin-top: 25px;
    margin-left: 20px;
}

.pic_3:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.pic_4 {
    
    float:left;
    margin-left: 16px;
    margin-top:25px;   
}

.pic_4:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.pic_5 {
    clear:both;
    float:left;
    margin-top: 25px; 
    margin-left: 20px;   
}

.pic_5:hover {
    transform: scale(1.1);
    transition: 0.5s;
}

.bhe{
    position: absolute;
    top: 110px;
    background: #777;
    color: darkblue;
    width: 180px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    float:left; 
    z-index: 20;
}

.bhe:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.parent {
    position: relative;
    margin-left: 206px;
}

.beehive {
    position: absolute;
    margin-top: 110px;
    width: 180px;
    text-indent: 60px;
    background: #777;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    z-index:11;
    margin-left: -180px; 
}

.beehive:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.warp {
    position: absolute;
    top: 265px;
    background: #777;
    color: darkblue;
    width: 180px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 60px;
    z-index: 11;
}

.warp:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.parent1 {
    position: relative;
    margin-left:10px;
}

.blue {
    position: absolute;
    margin-top: 135px;
    margin-left: 16px;
    width: 180px;
    text-indent: 50px;
    background: #777;
    color: darkblue;
    font-family: Arial, Helvetica, sans-serif;
    z-index:11;
}

.blue:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

.swirl {
    position: absolute;
    top: 420px;
    background: #777;
    color: darkblue;
    width: 180px;
    margin-left: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-indent: 60px;
    z-index:11;
}

.swirl:hover {
    transform: scale(0.8);
    transition: 0.5s;
}

 

